<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fuera de Sevicio</title>
    <link rel="stylesheet" href="css/outofService.css">
</head>
<body>
    <div class="content">
        <img src="assets/OutofService.svg" alt="Imagen Fuera de Servicio">
        <div class="text-content">
            <h2>
                Proximamente
            </h2>
            <h1>Ops... Estamos trabajando</h1>
            <p>
                Actualmente, esta página se encuentra fuera de servicio debido a trabajos de mantenimiento. Estamos trabajando
                arduamente para solucionar los problemas y restaurar el servicio lo antes posible. Agradecemos su comprensión y 
                paciencia. Por favor, vuelva a intentarlo más tarde. Si necesita asistencia inmediata, póngase en contacto con nuestro 
                equipo de <a href="https://wa.link/j9b4wy">Soporte</a>.
            </p>
        </div>
    </div>
</body>
</html>